.about_page{
    padding: 40px 0;
}
.about_content{
    position: relative;
    display: flex;
    flex-direction: column;
}
.text1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    margin-bottom: 30px;
    flex-direction: column;
}
.text1 p{
    width: 100%;
    padding-right: 20px;
    text-align: justify;
}
.text1 img{
    width: 100%;
    object-fit: cover;
}
.text1 .about_img1{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-color: #D9D9D9;
}
.about_img2{
    position: relative;
    margin:30px 0;
    width: 100%;
    height: 320px;
    background-color: #D9D9D9;
}
.about_img2 img{
    object-fit: cover;
}
.text3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.text3 p{
    margin: 10px 0;
    text-align: justify;
    max-width: 360px;
}

.banner_foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
}
.data_banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
}
.data_banner div{
    max-width: 203px;
    margin-bottom: 50px;
}
.data_banner div p{
    font-weight: 900;
    font-size: 38px;
    line-height: 130%;
}
.data_banner div p span{
    font-weight: 500;
    text-transform: inherit;
}
.data_banner div span{
    text-transform: uppercase;
}
.img_banner{
    width: 662px;
    height: 669px;
    position: relative;
    margin-left: 50px;
    z-index: 99;
}
.img_banner img{
    object-fit: cover;
}

@media (min-width:900px){
    .text1{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 234px;
        margin-bottom: 30px;
        flex-direction: row;
    }
    .text1 p{
        width: 575px;
        padding-right: 20px;
        text-align: justify;
    }
    .text1 .about_img1{
        margin: 0;
        width: 50%;
        height: 100%;
        background-color: #D9D9D9;
    }
    .text3{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .text3 p{
        
        margin: 0px 0;
    }
    .banner_foot{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 70px;
    }
    .img_banner{
        width: 662px;
        height: 669px;
        position: relative;
        margin-left: 50px;
        bottom: 100px;
        z-index: 99;
    }
    .data_banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
        height: 300px;
        margin: 0;
    }
}